/* style.css */

body {
  background-image: url(./public/jason-leung-Xaanw0s0pMk-unsplash.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Cambiamos a dirección de columna */
  align-items: center;
  min-height: 100vh; /* Usamos min-height para asegurarnos de que la página tenga al menos el alto de la ventana */
  background-color: #f0f0f0;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

#startButton {
  margin-top: 20px;
}

#gamesContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; /* Añadimos un margen superior para separar los botones del área de juego */
}
