/* Estilos para el juego del ahorcado */
#area3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

#selectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hanged-image-container {
  width: 650px; /* Establece un ancho fijo para el contenedor de las imágenes */
  height: 650px; /* Establece una altura fija para coincidir con la altura de la imagen */
  background-color: rgb(255, 255, 255);
  margin-left: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-radius: 10px;
  border: solid 4px black;
  display: flex; /* Asegura que el contenedor use flexbox */
  justify-content: flex-start; /* Centra horizontalmente el contenido (la imagen) */
  align-items: center; /* Centra verticalmente el contenido (la imagen) */
}

.hanged-image-container > img {
  max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  margin: 0; /* Ajusta o elimina el margen si es necesario */
  display: block; /* Cambia de flex a block para la imagen */
}

#palabra_a_adivinar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: white;
}

#palabra_a_adivinar span {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
}

#jugar {
  font-size: 16px;
  cursor: pointer;
}

.contenedorAbecedario > button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.contenedorAbecedario {
  width: 80%;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilos para los botones del abecedario */
div button:hover {
  background-color: #007bff;
  color: white;
}

.letra-usada {
  background-color: #1d2bcc; /* Un color más oscuro o el que prefieras */
  color: rgb(255, 255, 255); /* Asegúrate de que el color del texto se vea bien con el fondo */
}

.titulo {
  font-size: 40px;
  font-family: 'Times New Roman', 'Times New Roman', Times, serif;
  border: 4px solid blue;
  border-radius: 20px;
  padding: 20px;
  background-color: #121c92;
}

@media screen and (max-width: 1200px) {
  #area3 {
    display: flex;
    flex-direction: column;
  }
  .hanged-image-container {
    width: 300px; /* Establece un ancho fijo para el contenedor de las imágenes */
    height: 300px; /* Establece una altura fija para coincidir con la altura de la imagen */
    margin: auto;
  }
  .titulo {
    font-size: 20px;
    margin-top: 40px;
  }
  #selectContainer {
    gap: 0px;
  }
}

@media screen and (max-width: 550px) {
  .hanged-image-container {
    width: 150px; /* Establece un ancho fijo para el contenedor de las imágenes */
    height: 150px; /* Establece una altura fija para coincidir con la altura de la imagen */
    margin: auto;
  }
  #palabra_a_adivinar span {
    margin: 2px;
  }
  .titulo {
    font-size: 15px;
  }
}
